@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body {
    font-family: Roboto, Helvetica, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.section {
    display: flex;
    flex: 1;
}
.section--noflexbox{
    display: block;
}
.section--nogrow {
    flex: 0
}
.section--basis0 {
    flex: 1 1 0;
}
.section--column {
    flex-direction: column;
}
.section--spbtw {
    justify-content: space-between;
}
.section--spard {
    justify-content: space-around;
}
.section--jcenter {
    justify-content: center;
}
.section--acenter {
    align-items: center;
}
.section--gap16 {
    gap: 16px;
}
.section--darkblue {
    background-color: #1F2937;
}
.section--white2 {
    background-color: #E5E7EB;
}
.section--blue {
    background-color: #3882F6;
}
.section--round {
    padding: 8px;
    border-radius: 8px;
}
.section--spadding {
    padding: 24px 10%;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.no-lstyle {
    list-style: none;
}
.no-dec {
    text-decoration: none;
}
.inline {
    display: inline;
}
.lmargin-small {
    margin-left: 4px;
}
.text {
    margin: 4px 0;
}
.text--black {
    color: #1F2937
}
.text--white {
    color:#F9FAF8;
}
.text--white2 {
    color: #E5E7EB;
}
.text--bigger {
    font-size: 48px;
}
.text--big {
    font-size: 36px;
}
.text--medium {
    font-size: 24px;
}
.text--subtext {
    font-size: 18px;
}
.text--small {
    font-size: 12px;
}
.text--bold {
    font-weight: 800;
}
.text--quote {
    font-style: italic;
    text-align: justify;
}
.text--center {
    text-align: center;
}
.text--right {
    text-align: right;
}
.text--source {
    font-style: italic;
}
.text--author {
    font-style: normal;
    font-weight: 800;
}
.img {
    max-width: 100%;
}
.img--rborder {
    border-radius: 4px;
}
.img--blueborder {
    border: 4px solid #3882F6;
}
.btn {
    padding: 4px 16px;
    border-radius: 8px;
    text-align: center;
}
.btn--blue {
    background-color: #3882F6;
    border-color: #F9FAF8;
    color: #F9FAF8;
}
.btn--bblue {
    border-color: #3882F6;
}
