@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body {
    font-family: Roboto, Helvetica, Verdana, sans-serif;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header,
.entrance,
.wall,
.quote,
.ticket-booth,
.footer {
    padding: 24px 10%;
}
.enclosure {
    flex:1;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}
.right-side {
    font-size: 18px;
    color: #E5E7EB;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.entrance {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 16px;
}
.text {
    font-size: 48px;
    font-weight: 800;
}
.text .subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
    margin: 4px;
}
div.wall div.text {
    margin-bottom: 16px;
}
.image {
    width: 500px;
    flex: 1;
}
.wall {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}
.posters {
    display: flex;

    justify-content: space-around;
    gap: 8px;
    flex: 1;
}
.poster {
    font-size: 18px;
    font-weight: normal;
    flex: 1;
    width: 300px;
}
p.poster {
    margin: 2px 0 0 0;
}
.poster img {
    border-radius: 4px;
    border: 4px solid #3882F6;
}
.quote {
    text-align: justify;
    flex: 1;
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}
.quote .subtext {
    text-align: right;
    font-weight: 800;
    font-size: 18px;
}
.subtext span {
    font-style: normal;
}
.ticket-booth {
    background: white;}
.cashier {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 16px;
    border-radius: 8px;
}
button, 
.cashier button {
    background-color: #3882F6;
    padding: 4px 16px;
    border-radius: 8px;
    border-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
}
.cashier button {
    border-color: #F9FAF8;
}
.ticket {
    font-weight: 800;
    font-size: 16px;
}
.ticket p.subtext {
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
li {
    display: inline;
    margin: 0 2px;
}